# General
.DS_Store
Thumbs.db
*.log

# Rust (future)
/target/
**/*.rs.bk

# Editors
.idea/
.vscode/


# Added by cargo

/target


# Added by cargo
#
# already existing elements were commented out

#/target
